<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adam Zacpal | Články</title>
</head>
<body>
{% extends "index.html" %}

{% block body %}

    <ul>
  {%for clanek in clanky%}
      <li id="clanky"><a href="clanek/{{clanek[0]}}">

  <div class="centrovac">
    <h1>{{clanek[1]}}</h1>
    <ul>
      <li>Napsal: {{clanek[2]}}</li>
      <li>Vytvořeno: {{clanek[4]}}</li>
    </ul>
    </li>
  </div>
  </a>
  {%endfor%}
  </ul>




{% endblock body %}
</body>
</html>
