<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adam Zacpal | O mně</title>
</head>
<body>
{% extends "index.html" %}

{% block body %}

<div class="centrovac">
  <h1>Něco málo o mně a o tomto webu</h1>
</div>

</section>


<div class="clanek">

<p>Mé jméno je Adam Zacpal, je mi 19 let, mezi mé koníčky patří sport a cestování.</p>
<p>Právě teď studuji Střední průmyslovou školu elektrotechnickou obor Technické lyceum a jsem již ve 4. ročníku. Každý žák si na našem oboru musí zvolit vlastní maturitní práci, na které bude asi půl roku pracovat a poté z ní dostane první maturitní známku.</p>
<p>Ve škole mě nejvíce baví předměty spojené s počítači, jako je například programování, databáze a PSK. Proto jsem si na maturitní práci chtěl vybrat něco v tomhle oboru a napadlo mě udělat si vlastní webové stránky, což jsem vždy chtěl.</p>
<p>Nyní, na konci mé práce to hodnotím jako velmi odvážné rozhodnutí, protože mě to stálo opravdu hodně času a nervů, ale nelituji toho, protože jsem se v tomto odvětví podle mě hodně naučil. Nezvládl jsem sice vše co jsem chtěl, ale i tak jsem se svojí prací spokojený. Dále bych v tom chtěl pokračovat na vysoké škole. Už teď jsem přijatý na ČVUT FIT obor Informatika a s největší pravděpodobností zvolím tuto cestu.</p>
<p>Po maturitě, až budu mít více času bych tyto stránky chtěl dále rozvíjet a dokončit věci, které jsem nestihl. Doufám, že se vám mé stránky líbí.</p>

</div>

<div class="centrovac">
<div class="galerie">
  <p>To jsem já</p>
  <a href="../static/Obrazky/ja.jpg" data-lightbox="mojegalerie" data-Title="To jsem já"><img src="../static/Obrazky/ja-small.jpg"></a>
</div>
</div>
{% endblock body %}
</body>
</html>
